body {
  background-color: #ADD8E6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: black;
}

p {
  color: brown;
  font-size: 40px;
}

img {
  width: 300px; /* Define um tamanho fixo para teste */
  height: auto;
  border-radius: 15px;
}
